body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
.card-body > .card-title {
    font-family: 'Lobster', cursive;
}

.banner {
    display: flex;
    align-items: center;
    background-image: url("./app/assets/img/banner.jpg");
    background-size: 100%;
    margin-bottom: 0;
    min-height: 8rem;
}

.banner-image {
    height: 80px;
    margin-right: 25px;
    margin-left: 10px;
}

.banner-title {
    color: white;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">" !important;
    align-self: baseline;
    color: #7d8daa;
    font-size: 24px;
    margin-top: 5px;
}

.cust-bread-btn {
    background-color: #0c597a !important;
    margin-top: 5px;
}

.card-title {
    font-weight: 500;
    font-size: 1.25rem;
}

h2 {
    color: #3046c5;
}

.card-img-overlay .card-title {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.custom-card-header {
    background-color: #0c597a !important;
}

.custom-navbar {
    background-color: #0c597a;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.site-footer {
    background-image: linear-gradient(#0c597a, #248bb7);
    padding: 20px 0;
    margin-top: 2rem;
}

.site-footer a {
    color: black;
    text-decoration: none;
}

.text-social {
    color: black;
}

.text-white a {
    color: white;
}

.navbar-brand {
    max-width: 4rem;
    margin-right: 2rem;
}

.navbar-brand img {
    width: 100%;
    height: 100%;
    margin-right: 2rem;
    max-width: 4rem;
}

.page-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: 300ms ease-out;
}

.page-exit {
    opacity: 1;
}

.page-exit-active {
    opacity: 0;
    transition: 300ms ease-in;
}

.world-map {
    width: auto;
}